.resume {
    flex-direction: row;
    display: flex;
    overflow: hidden;
    justify-content: center;
    background:#ebd5dc ;
  }

.link {
      font-size: 80px;
      justify-content: center;
  }
