.resume {
    flex-direction: column;
    display: flex;
    overflow: hidden;
    justify-content: center;
;
  }

.link {
      font-size: 120px;
      justify-content: center;
      color: black
  }
